
body {
  background-color: lightgray;
  border: border-box;
}

.container-sm {
  margin-top: 3rem;
}

.display-5 {
    color: aliceblue;
    text-indent: 3rem;
}

u {
    text-decoration: underline;
    text-decoration-color: salmon;
  }

  thead {
    text-align: center;
  }

  td {
    text-indent: 2rem;
  }
  
